<h1>The Gossip Project</h1>
<p>Voici la team</p>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
<div class="row">
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Antoine</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Youcef</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Dylan</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Stephen</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Jules</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Gaëtan</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <p class="card-text">Quentin</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>